<section class="features">
   <div class="container">
      <div class="row">
         <div class="features__title">
            <h2>Features</h2>
         </div>
         <div class="features__grid">
            <div class="grid-item">
               <img src="../img/airplane-48.png" alt="airplane-48">
               <h4>One</h4>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi nesciunt cumque ad! 
               </p>
            </div>
            <div class="grid-item">
               <img src="../img/map_marker-48.png" alt="map_marker-48">
               <h4>Two</h4>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi nesciunt cumque ad!
               </p>
            </div>
            <div class="grid-item">
               <img src="../img/movie-48.png" alt="movie-48">
               <h4>Three</h4>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi nesciunt cumque ad! 
               </p>
            </div>
            <div class="grid-item">
               <img src="../img/alarm_clock-48.png" alt="alarm_clock-48">
               <h4>Four</h4>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi nesciunt cumque ad! 
               </p>
            </div>
            <div class="grid-item">
               <img src="../img/face-48.png" alt="face-48">
               <h4>Five</h4>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi nesciunt cumque ad!
               </p>
            </div>
            <div class="grid-item">
               <img src="../img/genius-48.png" alt="genius-48">
               <h4>Six</h4>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi nesciunt cumque ad!
               </p>
            </div>
         </div>
      </div>
   </div>
</section>