<section class="footer">
    <div class="container">
        <div class="row">
            <div class="footer__line"></div>
            <col-12>
                <ul>
                    <li><a href="#" target="_blank">
                        <img src="../img/facebook-128.png" alt="facebook-128">
                    </a></li>
                    <li><a href="#" target="_blank"></a></li>
                    <li><a href="#" target="_blank"></a></li>
                    <li><a href="#" target="_blank"></a></li>
                </ul>
            </col-12>
        </div>
    </div>
</section>