<section class="gallery">
   <div class="container">
      <div class="row">
         <a href="#" name="Gallery"></a>
         <div class="gallery__line"></div>
         <div class="gallery__title">
            <h2>Gallery</h2>
         </div>
         <div class="gallery__slide">
            <div><img src="../img/gallery1.webp" alt="gallery1"></div>
            <div><img src="../img/gallery2.webp" alt="gallery2"></div>
            <div><img src="../img/gallery3.webp" alt="gallery3"></div>
            <div><img src="../img/gallery4.webp" alt="gallery4"></div>
         </div>
      </div>
   </div>
</section>