<header class="header">
   <div class="container">
      <div class="row">
         <div class="col-12 d-flex align-items-center">
            <div class="col-6 d-flex align-items-center">
               <div class="header__title">
                  <a href="#">Tour-guide</a>
               </div>
               <nav class="header__nav">
                  <ul>
                     <li>
                        <a href="#">Stories</a>
                     </li>
                     <li>
                        <a href="#">Gallery</a>
                     </li>
                     <li>
                        <a href="#">Featres</a>
                     </li>
                     <li>
                        <a href="#">Write to us</a>
                     </li>
                  </ul>
               </nav>
            </div>
            <div class="col-6 d-flex justify-content-end">
               <nav class="header__social">
                  <ul>
                     <li>
                        <a target="_blank" href="https://twitter.com">
                           <img src="../img/twitter-128.png" alt="twitter">
                        </a>
                     </li>
                     <li>
                        <a target="_blank" href="https://www.facebook.com/">
                           <img src="../img/facebook-128.png" alt="facebook">
                        </a>
                     </li>
                     <li>
                        <a target="_blank" href="https://www.instagram.com/">
                           <img src="../img/instagram-2-128.png" alt="instagram">
                        </a>
                     </li>
                     <li>
                        <a target="_blank" href="https://www.youtube.com/">
                           <img src="../img/youtube-128.png" alt="youtube">
                        </a>
                     </li>
                     <li>
                        <a target="_blank" href="https://www.google.com/">
                           <img src="../img/gmail-128.png" alt="gmail">
                        </a>
                     </li>
                  </ul>
               </nav>
               <div class="burger__icon">
                  <span></span>
                  <span></span>
                  <span></span>
               </div>
               <div class="burger__menu">
                  <nav class="hamb_nav d-flex justify-content-center">
                     <ul>
                        <li>
                           <a href="#">Stories</a>
                        </li>
                        <li>
                           <a href="#">Gallery</a>
                        </li>
                        <li>
                           <a href="#">Featres</a>
                        </li>
                        <li>
                           <a href="#">Write to us</a>
                        </li>
                     </ul>
                  </nav>
                  <nav class="burger_nav">
                     <ul>
                        <li>
                           <a target="_blank" href="https://twitter.com">
                              <img src="../img/twitter-128.png" alt="twitter">
                           </a>
                        </li>
                        <li>
                           <a target="_blank" href="https://www.facebook.com/">
                              <img src="../img/facebook-128.png" alt="facebook">
                           </a>
                        </li>
                        <li>
                           <a target="_blank" href="https://www.instagram.com/">
                              <img src="../img/instagram-2-128.png" alt="instagram">
                           </a>
                        </li>
                        <li>
                           <a target="_blank" href="https://www.youtube.com/">
                              <img src="../img/youtube-128.png" alt="youtube">
                           </a>
                        </li>
                        <li>
                           <a target="_blank" href="https://www.google.com/">
                              <img src="../img/gmail-128.png" alt="gmail">
                           </a>
                        </li>
                     </ul>
                  </nav>
               </div>
            </div>

         </div>
      </div>
   </div>

</header>