<header class="header">
   <div class="container">
      <div class="row">
         <div class="col-8 d-flex align-items-center mt-2">
            <div class="header__logo">
               <p><b>TOUR-GUIDE</b></p>
            </div>
            <nav class="header__menu">
               <ul>
                  <li><a href="#">Stories</a></li>
                  <li><a href="#">Gallery</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Write to us</a></li>
               </ul>
            </nav>
         </div>
         <div class="col-4 align-items-center mt-2">
            <div class="header__icon d-flex">
               <ul>
                  <li>
                     <a href="#" target="_blank">
                        <img src="../img/twitter-128.png" alt="twitter-128">
                     </a>
                  </li>
                  <li>
                     <a href="#" target="_blank">
                        <img src="../img/facebook-128.png" alt="facebook-128">
                     </a>
                  </li>
                  <li>
                     <a href="#" target="_blank">
                        <img src="../img/instagram-2-128.png" alt="instagram-2-128">
                     </a>
                  </li>
                  <li>
                     <a href="#" target="_blank">
                        <img src="../img/youtube-128.png" alt="youtube-128">
                     </a>
                  </li>
                  <li>
                     <a href="#" target="_blank">
                        <img src="../img/gmail-128.png" alt="gmail-128">
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</header>