<section class="hero">
   <div class="container">
      <div class="row align-items-center">
         <div class="hero__border_line"></div>
         <div class=" order-2 order-md-2 col-12 col-md-6">
            <div class="hero__title">
               <h1>Let's hit the road</h1>
            </div>
            <div class="hero__subtitle">
               <p class="hero__subtitle_big">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A condimentum vitae sapien pellentesque habitant. Bibendum est ultricies integer quis auctor elit. Fames ac turpis egestas integer.</p>
               <p class="hero__subtitle_small">Ut blandit cursus risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget gravida cum sociis natoque penatibus. </p>
            </div>
            <a href="#" class="btn btn-outline-secondary">START</a>
         </div>
         <div class="order-1 order-md-2 col-12 col-md-6">
            <img src="../img/hero.jpg" alt="hero.jpg">
         </div>
      </div>
   </div>
</section>