.header {
   font-family: 'EB Garamond', serif;
   margin-bottom: 10px;

   &__logo {
      p {
         font-size: 24px;
         white-space: nowrap;
      }
   }

   &__menu {
      margin-left: 30px;

      ul {
         display: flex;

         li {
            margin-right: 20px;
            :hover {
               color: grey;
               transition: 1s;
            }

            a {
               white-space: nowrap;
               text-decoration: none;
               color: black;
            }
         }
      }
   }

   &__icon {
      justify-content: end;

      ul {
         display: flex;

         li {
            list-style: none;
            :hover{
               transform: scale(1.5);
               transition: 1.5s;
            }

            a {
               margin-right: 20px;

               img {
                  width: 25px;
                  
               }
            }
         }
      }
   }
}